.modal-window {
  background: white;
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 3px 5px 3px rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.19);
  transition: all .3s ease-out;
  left: 5rem;
  padding: 0 1rem 1rem 1rem;
}

.outer-button {
  background-color: white;
  border-radius: .6rem;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  position: absolute;
  right: -1.2rem;
  top: -1.2rem;
  font-weight: bold;
  transition: all .3s;
}

.outer-button:hover {
  background-color: var(--red-color-light);
  color: white;
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.small-margin {
  margin: .1rem;
}

.error-line {
  color: red;
  font-style: italic;
}

.dialog-button {
  border: 1px solid var(--blue-color-main);
  border-radius: 3px;
  padding: .4rem;
  cursor: pointer;
  background-color: white;
  color: var(--blue-color-main);
  transition: all var(--transition-time);
}

.dialog-button[disabled] {
  border: 1px solid var(--grey-color-main);
  cursor: default;
  color: var(--grey-color-main);
}

.dialog-button:not([disabled]):hover {
  color: white;
  background-color: var(--blue-color-main);
}
