:root {
  --blue-color-main: #00c;
  --grey-color-main: #888;
  --red-color-main: #c00;
  --red-color-light: #e22;
  --red-color-dark: #600;
  --green-color-main: #090;
  --green-color-light: #2a2;
  --green-color-dark: #060;
  --transition-time: .3s;
}

body {
  font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif
}

.margin-medium {
  margin: 1rem;
}